---
layout: base.njk
title: Writings
permalink: /writings/
---
<section class="writings">
  <h1 class="page-title">Writings</h1>

  <ul class="post-list">
    {% for post in collections.posts %}
      {% if not post.data.hideFromWritings %}
      <li class="post-item">
        {% if post.data.period %}
        <span class="post-date post-period">{{ post.data.period }}</span>
        {% else %}
        <time class="post-date" datetime="{{ post.date | isoDate }}">{{ post.date | shortDate }}</time>
        {% endif %}
        <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if collections.posts.length == 0 %}
  <p class="empty">Nothing here yet.</p>
  {% endif %}
</section>
